.partnerItem {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 0 11px;
  cursor: pointer;
  transition: background-color 0.2s;
  position: relative;
  margin: 0 16px;
}

.partnerItem:active:not(:has(.notActiveBadgeAction:active)) {
  background-color: var(--surface-default);
}

.partnerAvatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  background-color: var(--surface-default);
}

.partnerAvatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.partnerInfo {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.partnerHeader {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: flex-start;
}

.partnerName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--text-main);
}

.streakIndicator {
  display: flex;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
}

.streakIcon {
  width: 16px;
  height: 16px;
  object-fit: cover;
}

.secondaryText {
  color: var(--text-second);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.notActiveBadge {
  position: absolute;
  top: 0;
  left: -8px;
  display: flex;
  align-items: center;
}

.notActiveBadgeAction:active {
  opacity: 0.8;
}

.notActiveBadgeTextWrapper {
  width: 375;
  height: 74;
  padding: 1px 16px;
  background-color: var(--alert);
  color: var(--text-on);
  border: 2px solid var(--background-default);
  border-radius: 0 16px 16px 0;
  display: flex;
  align-items: center;
}
