.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background: transparent;
}

.content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  background: transparent;
}

.title {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
}

.body {
  // Body styles will be added later
}
