.button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-align: center;
  display: inline-block;
}

.fullWidth {
  width: 100%;
}

.primary {
  // Styles will be added later
}

.secondary {
  // Styles will be added later
}
