.page {
  min-height: 100vh;
  padding: 32px 16px 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 24px;
}

.streakCounter {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.streakLabel {
  color: var(--text-main, #000000);
  font-size: 14px;
}

.streakNumber {
  color: var(--text-main, #000000);
  position: relative;
}

.avatars {
  display: flex;
  gap: -8px;
  align-items: center;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid var(--background-default, #ffffff);
  object-fit: cover;

  &:not(:first-child) {
    margin-left: -12px;
  }
}

.tasksCard {
  background: var(--background-default, #ffffff);
  border-radius: 16px 16px 0 0;
  padding: 18px 16px 32px;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.tasksTitle {
  color: var(--text-main, #000000);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 16px;
}

.tasksList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.taskItem {
  display: flex;
  align-items: center;
  gap: 12px;
}

.taskIcon {
  &.incomplete {
    color: var(--text-ter, #878787);
    path {
      fill: var(--surface-default);
      &:last-child {
        stroke: var(--text-second);
      }
    }
  }
}

.taskContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.taskText {
  color: var(--text-main);
  font-size: 16px;
  flex: 1;
}

.taskPoints {
  color: var(--text-second);
}

.taskPointsNumber {
  color: var(--orange-900);
}

.loading,
.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 16px;
}
