:root {
  /* TEXT */
  --text-second: #5c5c5c;
  --text-main: #000000;
  --text-ter: #878787;
  --text-on: #ffffff;

  /* SURFACE */
  --surface-default: #f2f2f2;

  /* BACKGROUND */
  --background-default: #ffffff;
  --background-modal: rgba(17, 17, 17, 0.75);

  /* ORANGE */
  --orange-900: #fb8a0e;
  --orange-600: #febb6d;
  --orange-100: #fdeedf;
  --orange-50: #fefbf4;

  /* RED */
  --red-900: #f15c1e;
  --red-600: #f8a887;
  --red-100: #fdece4;
  --red-50: #fef5f1;

  /* PURPLE */
  --purple-900: #d841a5;
  --purple-600: #ff8cdc;
  --purple-100: #f5e9ef;
  --purple-50: #fff5fc;

  /* BLUE */
  --blue-900: #358bed;
  --blue-600: #86b6ff;
  --blue-100: #daecff;
  --blue-50: #f5fafd;

  /* MINT */
  --mint-900: #15b0e9;
  --mint-600: #b9e8f9;
  --mint-100: #d7f5fe;
  --mint-50: #f0fbff;

  /* GRAY */
  --gray-900: #e2deed;
  --gray-600: #ccc9de;

  /* ACTION */
  --action-default: #fd5b01;
  --action-pressed: #fe6c1a;
}
