:root {
  /* TEXT */
  --text-second: #5C5C5C;
  --text-main: #000000;
  --text-ter: #878787;
  --text-on: #FFFFFF;

  /* SURFACE */
  --surface-default: #F2F2F2;

  /* BACKGROUND */
  --background-default: #FFFFFF;
  --background-modal: rgba(17, 17, 17, 0.75);

  /* ORANGE */
  --orange-900: #FB8A0E;
  --orange-600: #FEBB6D;
  --orange-100: #FDEEDF;
  --orange-50: #FFEFBF4;

  /* RED */
  --red-900: #F15C1E;
  --red-600: #F8A887;
  --red-100: #FDECE4;
  --red-50: #FEF5F1;

  /* PURPLE */
  --purple-900: #D841A5;
  --purple-600: #FF8CDC;
  --purple-100: #F5E9EF;
  --purple-50: #FFF5FC;

  /* BLUE */
  --blue-900: #358BED;
  --blue-600: #86B6FF;
  --blue-100: #DAECFF;
  --blue-50: #F5FAFD;

  /* MINT */
  --mint-900: #15B0E9;
  --mint-600: #B9E8F9;
  --mint-100: #D7F5FE;
  --mint-50: #F0FBFF;

  /* GRAY */
  --gray-900: #E2DEED;
  --gray-600: #CCC9DE;

  /* ACTION */
  --action-default: #FD5B01;
  --action-pressed: #FE6C1A;
}
