@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";
@import "./colors.scss";
@import "./reset.scss";

:root {
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  background: linear-gradient(180deg, #ffd179 0%, #f8f8f8 100%);
}

/* Sonner toast styles */
[data-sonner-toast][data-type="success"] {
  width: calc(100% - 32px);
  height: 56px;
  border-radius: 8px;
  opacity: 1;
  background-color: var(--text-second);
  color: var(--text-on);
  display: flex;
  align-items: center;
  border: none;

  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

/* Limit visible toasts to 3 */
[data-sonner-toaster] > [data-sonner-toast]:nth-child(n+4) {
  display: none !important;
}
