@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";
@import "./colors.scss";
@import "./reset.scss";

:root {
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  background: linear-gradient(180deg, #ffd179 0%, #f8f8f8 100%);
}
