.page {
  padding: 20px 16px 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.guideTitle {
  color: var(--text-main);
  margin: 0;
  text-align: center;
  margin-bottom: 16px;
}

.premiumGuide {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.stepCard {
  background-color: var(--background-default);
  border-radius: 12px;
  padding: 16px;
  display: flex;
  align-items: flex-start;
  gap: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.stepNumber {
  width: 24px;
  height: 24px;
  border-radius: 8px;
  background-color: var(--surface-default);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: var(--text-ter);
}

.stepContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.telegramBusinessImg {
  width: 275px;
  height: 38.44px;
  border-radius: 8px;
  object-fit: contain;
}

.botsImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.stepText {
  color: var(--text-main);
  margin: 0;
}

.stepDescription {
  color: var(--text-second);
  margin: 0;
}

.botInput {
  background-color: var(--surface-default);
  border-radius: 8px;
  padding: 14px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  width: 100%;
}

.botUsername {
  color: var(--text-main);
}

.copyIcon {
  width: 16px;
  height: 16px;
  cursor: pointer;
  color: var(--text-second);
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 20px;
  position: sticky;
  bottom: 20px;
}

.videoInstructionLink {
  display: block;
  text-decoration: none;
  box-sizing: border-box;
}

.separator {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
  color: #c8c8c8;

  .separatorVisual {
    height: 1px;
    width: 100%;
    border-bottom: 1px dotted #c8c8c8;
  }
}
