.petSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.petImageContainer {
  position: relative;
  margin-bottom: 32px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.slider {
  width: 100%;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.petImage {
  max-width: 295px;
  max-height: 255px;
  object-fit: contain;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transition: opacity 0.2s;

  &:hover:not(.arrowDisabled) {
    opacity: 0.7;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.arrowLeft {
  left: -16px;
  transform: translateY(-50%) rotate(180deg);
}

.arrowRight {
  right: -16px;
}

.arrowDisabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.petNameContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.petName {
  color: var(--text-main);
}

.editIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: transparent;
  border: none;
}

.progressSection {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.progressDescription {
  text-align: center;
  color: var(--text-second);
}

.modalTitle {
  margin-bottom: 16px;
}

.changeNameModalContent {
  display: flex;
  flex-direction: column;

  background: var(--background-default);
  border-radius: 16px 16px 0 0;
  padding: 16px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.modalInput {
  margin-bottom: 4px;
}

.letterCount {
  text-align: right;
  color: var(--text-second);
  margin-bottom: 8px;
}
